.profile {
  display: flex;
  font-size: 16px;

  &__avatar {
    height: 32px;
    width: 32px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  &__login {
    color:  #fff;
    font-size: inherit;
    &--chat {
      font-size: inherit;
      color:  #000;
    }
  }
}